<html>

	<head>
		<title>Restaurant of Zhuxi Middle School</title>
	    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	    <script src="app.js"></script>
	</head>

	<body ng-app="ZhuRestaurant" ng-controller="MainCtrl">
		<div>
			{{test}}
		</div>


		<div ng-repeat="dish in dishs | orderBy: '-upvotes'">
			<span ng-click="incrementUpvotes(dish)">^</span>
			<a ng-show='dish.link' herf="{{dish.link}}">
				{{dish.title}}
			</a>

			<span ng-hide="post.link">
				{{dish.title}}
			</span>
			- upvotes: {{dish.upvotes}}
		</div>

		

		<button ng-click="addPost()">Add dish</button>

		<form ng-submit="addPost()">
			<input type="text" ng-model="title" placeholder="Title"></input>
			<br>
			<input type="text" ng-model="link" placeholder="Link"></input>
			<br>
			<button type="submit">Add</button>
		</form>
	</body>

</html>